<html>
<body>
    <div>
      <h2>Deactivate a Company</h2>
      <div class="alert alert-danger" role="alert" *ngIf='errorOccured'>
        {{errorMessage}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf='isSuccess'>
        {{sucessMessage | json}}
      </div>
      <form #deactivateCompany = "ngForm" (ngSubmit) = "onClickSubmit(deactivateCompany)">
        <div class="form-group">
          <label for="companyId">Company ID</label>
          <input type="number" class="form-control" name="companyId" placeholder="Enter Company ID" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>    
</html>
