<html>
<body>
    <div>
      <h2>Create a new Company</h2>
      <form>
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control" id="companyName" placeholder="Enter Company Name">
        </div>
        <div class="form-group">
            <label for="turnover">Turnover</label>
            <input type="text" class="form-control" id="turnover" placeholder="Enter Turnover">
        </div>
        <div class="form-group">
            <label for="ceo">CEO</label>
            <input type="text" class="form-control" id="ceo" placeholder="Enter CEO">
        </div>
        <div class="form-group">
            <label for="boardOfDirectors">Board Of Directors</label>
            <input type="text" class="form-control" id="boardOfDirectors" placeholder="Enter Board Of Directors">
        </div>
        <div class="form-group">
            <label for="listedInStockExchanges">Listed In StockExchanges</label>
            <input type="text" class="form-control" id="listedInStockExchanges" placeholder="Listed In StockExchanges?">
        </div>
        <div class="form-group">
            <label for="sectorId">Sector ID</label>
            <input type="text" class="form-control" id="sectorId" placeholder="Enter Sector ID">
        </div>
        <div class="form-group">
            <label for="brief">Brief</label>
            <input type="text" class="form-control" id="brief" placeholder="Write a brief about the company">
        </div>
        <div class="form-group">
            <label for="brief">Brief</label>
            <input type="text" class="form-control" id="brief" placeholder="Write a brief about the company">
        </div>
        <div class="form-group">
            <label for="stockExchangeIds">Stock Exchange IDs</label>
            <input type="text" class="form-control" id="stockExchangeIds" placeholder="Enter Stock Exchange IDs">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>    
</html>
